#carrousel-index {
    width: auto;
    height: 50%;
    
-webkit-box-shadow: 13px 15px 28px 3px rgba(2,6,1,0.73); 
box-shadow: 13px 15px 28px 3px rgba(2,6,1,0.73);
}


#grid-index-1 {
    margin-top: 20px;
    margin-bottom: 0%;
 
}

#grid-index-2 {
    margin-top: -50px;
    margin-bottom: 0%;
}

#grid-index-3 {
    margin-top: -50px;
    margin-bottom: 20px;
   
}

