#formulario-reservas {
    background-color: aqua;
    border: solid 2px black;
    margin: 10% 10% 10% 10%;
    
-webkit-box-shadow: 13px 15px 28px 3px rgba(2,6,1,0.73); 
box-shadow: 13px 15px 28px 3px rgba(2,6,1,0.73);
}