#mapa-servicios {
    margin-left: 30%;
    margin-right: 30%;
        -webkit-box-shadow: 13px 15px 28px 3px rgba(2,6,1,0.73); 
        box-shadow: 13px 15px 28px 3px rgba(2,6,1,0.73);
        

}
#botones-servicios {

   
   margin-top: 30px;
}